<h2>Your Feedback</h2>
<!--		  <input id=search_input size=30></input>
      <button id=search>Add Tag</button>
      <button id=reset>Reset</button>
-->
<form id=feedback_form class="w3-container" method="post" action="/add_feedback">

  <label>Your Name</label>
  <input name=name class="w3-input w3-border w3-round-large" type="text">

  <label>Feedback</label>
  <textarea name=feedback rows=8 class="w3-input w3-border w3-round-large" type="text"></textarea>
  <br/>
  <button id=add_feedback class="w3-btn w3-green">Submit</button>

</form>